Title:<%= @article.title %>
Content <%= @article.content %>


<form action="/articles/<%=@article.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  Title:<input type="text" name="title">
  Content:<input type="text" name="content">
  <input type="submit" name="submit">
</form>
