<form method='post' action='/articles'>
  <label for='title'> Title</label>
  <input type="text" id = 'title' name="params[title]">
  <label for='content'> Content</label>
  <input type="text" id = 'content' name="params[content]">
  <input type='submit' value='submit'
</form>
