
<h1> <%= @article.title %> </h1>
<h1> <%= @article.content %> </h1>


<form method="post" action= '/articles/<%= @article.id %>/delete'>
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <button id = "submit" type = "submit" value = "delete">Delete</button>
</form>
